.header {
  width: 100%;
  font-size: 9pt;
}

.header__addressee {
  display: inline-block;
  width: 68%;
  vertical-align: top;
  font-size: 11pt;
}

.header__free-calling {
  font-size: 7pt;
}

.header__hotline {
  font-size: 9pt;
}

.header__company {
  display: inline-block;
  width: 31%;
  vertical-align: top;
}

.header__company__title {
  font-weight: 700;
  line-height: 100%;
}