@page {
  @top-center {
    content: element(pagination);
  }
}

@page :first {
  @top-center {
    content: none;
  }
}

.pagination {
  width: 100%;
  position: running(pagination);
  font-size: 9pt;
  color: #40484D;
  text-align: center;
  margin-top: 1cm;
}

#pageNumber:before {
  content: counter(page);
}