<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
  <div class="letter__body" th:fragment="main-content" xmlns="http://www.w3.org/1999/html">
    <h1 class="letter__title">
      Lorem Ipsum
    </h1>
    <p>
      Hello <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>,
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non elementum ex, nec fringilla justo. Aenean vestibulum eros ut metus varius mattis. Morbi nisl felis, malesuada in enim sed, porta placerat urna. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc et ex eget augue congue pulvinar. Morbi leo lectus, imperdiet ultricies varius eu, sagittis at mi. Aliquam erat volutpat. Duis convallis ex nec nulla faucibus commodo. Morbi faucibus turpis dui, sit amet pharetra tortor iaculis ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum arcu dui, rutrum at neque sed, hendrerit semper erat. Ut eu ornare dui. 
    </p>
  </div>
</body>

</html>
