<div class="footer space-between" th:fragment="footer">
  <div class="footer__block">
    <div>Footer 1.1</div>
    <div>Footer 1.2</div>
    <div>Footer 1.3</div>
  </div>

  <div class="footer__block">
    <div>Footer 2.1</div>
    <div>Footer 2.2</div>
  </div>

  <div class="footer__block">
    <div>Bank account</div>
    <div>Kto: 000 000 000, XXX 000 000 00</div>
    <div>IBAN: XX00 0000 0000 0000 0000 00</div>
    <div>BIC: XXXXXXXX000</div>
  </div>

  <div class="footer__block">
    <div>Ust – IdNr.: XXXXXXXX000</div>
    <div>IK: 000 000 008</div>
  </div>
</div>