@page :first {
  margin-top: -0.2cm;
}

.aok-logo__div {
  width: 100%;
  margin-left: -0.7cm;
}

.aok-logo {
  width: 3.75cm;
  padding: 40px 40px 100px 40px;
  margin-left: auto;
  margin-right: auto;
}

.aok-logo__img {
  display: block;
  width: 100%;
}
